.faq {
  padding: 130px 0;
}

.faq-inner {
  @include inner;
}

.faq-title {
  margin: 0;
  color: $color-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 81px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.faq-accordion {
  margin-top: 40px;
  border: 1px solid rgba(255, 45, 45, 0.2);
  border-radius: 4px;
}


.faq-btn {
  display: block;
  width: 100%;
  padding: 30px;
  font-family: $font;
  font-weight: 300;
  text-align: left;
  font-size: 36px;
  line-height: 49px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 43px;
  }

  @media (max-width: $mobile-max) {
    font-size: 20px;
    line-height: 27px;
  }
}


.faq-answear {
  display: none;
  padding: 0 30px 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  @media (max-width: $tablet-max) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (max-width: $mobile-max) {
    font-size: 14px;
    line-height: 19px;
  }
}
