.footer {
  background-color: $color-dark;
  padding: 30px 0;
}

.footer-inner {
  @include inner;
  display: flex;
  align-items: center;
}

.social-wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  margin: 0;
  margin-right: auto;
}

.footer-phone {
  color: #fff;
  font-family: inherit;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
}

.social-item {
  margin-left: 15px;
}

.social-list {
  display: flex;
  padding-left: 45px;
  list-style: none;
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
}

