.footer {
  background-color: $color-dark;
  padding: 30px 0;
}

.footer-inner {
  @include inner;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    flex-wrap: wrap;
    justify-content: center;
  }

}

.social-wrap {
  display: flex;
  align-items: baseline;
  margin-left: auto;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }

}


.footer-logo {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  margin: 0;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {

    font-size: 36px;
    line-height: 49px;

  }
}


.social-item {
  margin-left: 15px;
}

.social-list {
  display: flex;
  padding-left: 45px;
  list-style: none;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    padding: 0;
    margin-top: 15px;
  }
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
}

.footer-phone {
  color: #fff;
  font-family: inherit;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    padding: 0;
    margin-top: 30px;
  }
}
