.order-form {
  display: flex;
  width: 33,33%;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.form-field-third {
  width: 33.33%;
  flex-basis: 100%;
  margin-top: 90px;
}

.form-label {
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;

}

.form-input {
  width: 100%;
  padding: 35px 30px;
  font-family: inherit;
  font-size: 28px;
  line-height: 34px;
  margin-top: 8px;
  color: $color-dark;
  border-radius: 6px;
  border: none;

}
