.header {
  background-color: $color-dark;
  font-family: $font;
  color: #fff;
}

.header-inner {
  @include inner;
}

.header-wrap {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.header-logo {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  margin: 0;
  color: #fff;
}

.header-menu {
  display: flex;
  list-style: none;

}

.menu-item {
  display: inline-block;
  padding: 33px 25px;
}

.menu-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-item:hover {
  background-color: $color-red;
}

