.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-dark;
  font-family: $font;
  color: #fff;
  position: fixed;
  z-index: 100;

  @media (max-width: $tablet-max) {

  }
}

.header-inner {
  @include inner;
}

.header-wrap {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.header-logo {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  margin: 0;
  color: #fff;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.header-menu {
  display: flex;
  list-style: none;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    display: none;
    flex-direction: column;
    position: absolute;
    // top: 100%;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: $color-dark;
  }
}

.menu-link {
  display: inline-block;
  padding: 33px 25px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $mobile-max) {

    display: block;
    text-align: center;
  }
}

.menu-item:hover {
  background-color: $color-red;
}

.header-burger {
  display: none;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    display: block;
  }
}
