.portfolio {
  padding: 130px 0;
  text-align: center;

    @media (max-width: $tablet-max) {
      padding: 120px 0;
    }

    @media (max-width: $mobile-max) {
      padding: 90px 0;
    }

}

.portfolio-inner {
  @include inner;
}

.portfolio-text {
  font-family: $font;
  font-size: 64px;
  line-height: 87px;
  color: $color-dark;
  margin: 0;
  padding-bottom: 80px;

    @media (max-width: $tablet-max) {
      font-size: 60px;
      line-height: 81px;
    }

    @media (max-width: $mobile-max) {
      font-size: 36px;
      line-height: 49px;
    }
}

.filter-list {
  display: flex;
  list-style: none;
  padding: 0 147px;
  justify-content: center;
  align-items: center;
}

.filter-item {
  display: inline-block;
  padding: 0 25px;
}

.filter-link {
  white-space: nowrap;
  color: $color-dark;
  font-family: $font;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-max) {
  }

  @media (max-width: $mobile-max) {
    display: block;
    margin: 0;
  }
}

.portfolio-item {
  padding: 10px;
  margin-left: -10px;
  margin-bottom: -10px;
}

.portfolio-card {
  position: relative;
  flex-basis: 25%;
}

.portfolio-pic {
  width: 100%;
}

.portfolio-desc {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 20px 48px;
  margin: 0;
  font-family: $font;
  font-size: 24px;
  line-height: 33px;
  background-color: rgba($color-dark, .4);
  color: #fff;
  text-align: center;
}

.portfolio-link {
  display: block;
}

.portfolio-btn {
  display: inline-block;
  padding: 24px 121px;
  margin-top: 100px;
  font-family: inherit;
  color: #fff;
  font-size: 42px;
  line-height: 57px;

  background-color: $color-red;
  text-decoration: none;
  border-radius: 6px;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    padding: 20px 37px;
    margin: 0;
    font-size: 24px;
    line-height: 33px;
}
}
