.promo {
  text-align: center;
  color: #fff;
  background-image: url(../images/man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $tablet-max) {
    max-width: 100%;
  }

  @media (max-width: $mobile-max) {

  }

}

.promo-fade {
  background-color: rgba(51, 51, 51, 0.4);
  background-repeat: repeat;

  @media (max-width: $tablet-max) {
    background-repeat: repeat;
    background-size: cover;
  }

  @media (max-width: $mobile-max) {

  }
}

.promo-inner {
  @include inner;
}

.promo-title {
  margin: 0;
  padding-top: 200px;
  padding-bottom: 100px;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
}

.promo-btn {
  display: inline-block;
  font-family: inherit;
  color: #fff;
  font-size: 42px;
  line-height: 57px;
  padding: 30px 40px;
  margin-bottom: 215px;
  background-color: $color-red;
  text-decoration: none;
  border-radius: 6px;
}
