// Fonts
$font: "Open Sans", sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors

$color-dark: #333;
$color-red: #FF2D2D;

// indents

$gap: 20px;
$gap-half: 10px;

// breakpoints

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

$tablet-max: $desktop - 1px;
$mobile-max: $tablet - 1px;


@media (max-width: $tablet-max) {

}

@media (max-width: $mobile-max) {

}
